---
---
@import "style";

/************************************************
 |  Main Content                                 |
 ************************************************/

.main-container {
    margin-top: 60px; // Adjust based on your navbar height
}

.image-section {
    position: relative;
    z-index: 1;
    .container-fluid {
        position: relative;
    }
}

.download-section {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    


.download-box a {
    background-color:$nav-header-footer-heading; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1.5px solid rgb(9, 145, 61);
    transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition */

    &:hover {
        background-color: rgb(9, 145, 61); /* Hover background color */
        color: white; /* Hover text color */
    }
}
}
.dataset-overview{
    padding: 20px;
    border-radius: 3px;
    
    .subsection-title{
        text-align: center;
    }
}

.annotation-format {
    background-color: #d3fddd; 
    padding: 20px;
    border-radius: 10px;
  }
  
  .annotation-format .card-body {
    color: #292828; 
  }
  
  .annotation-format .subsection-title {
    color: #020202; 
  }
  
/************************************************
 |  Footer                                       |
 ************************************************/

//  footer {
//     margin-top: 20px;
//     background-color: $nav-header-footer-heading;
//     padding: 20px 0;
//     color: #fff;
//     .footer-content {
//         text-align: center;
//         color: #f5f3f3;
//     }
// }


// media
body {
    margin-top: 4%;
}
@media (max-width: 1500px), (max-width: 800px) {
    .container {
        max-width: 100%;
        transition: 0.3s ease all;
    }
    body {
        padding-top: 30px;
        margin-top: 2%;
    }
}