---
---
@import "style";

.cocorem {
    color: #00CC66;
    font-weight: 700;
    font-size: 2.5rem;
}

.btn{
    background-color: #029E73;
    border-color: #029E73;

}
#carouselExample {

.carousel-control-prev-icon,
  .carousel-control-next-icon {
    opacity: 5;
    background-color: black; // Set the color of the button icon
    border-radius: 50%; // Make the icon circular
    transition: background-color 0.3s ease;
  }

    
  }

h2 {
    color: #029E73;
    text-align: center;
}

p {
    font-size: 1.1em;
    text-align: center;

}
.download-section {
    // margin-top: 20px; 
    display: flex;
    flex-direction: column;

    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #fff;
    

}

.validation-card {
    // width: 100%;
    border: 1px solid #029E73; 
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(2, 158, 115, 0.1); 
    margin-right: 10%;
}

.train-card {
    border: 1px solid #029E73; 
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(2, 158, 115, 0.1); 
    margin-left: 5%;
}

.card-title {
    color: #029E73; 
    margin-bottom: 0; 
    margin-top: 0; 
    border-bottom: 1px solid #029E73; 
    border-radius: 5px 5px 0 0; 
}

.stat-box {
    padding: 5px; 
}

.stat {
    color: #0a0a0a; 
    font-size: 1.2em; 
    padding: 5px 0; 
}

.download-box {
    text-align: center; 
    padding: 20px 0; 
}

.btn.btn-primary {
    width: 100%;
    background-color: #029E73; 
    border-color: #029E73; 
    font-size: 1rem; 
    // padding: 10px 20px; 
    white-space: nowrap;
}




.team-section {
    text-align: center;
    margin-top: 50px;
}

.team-member {
    display: inline-block;
    margin: 20px;
    padding: 7px;
    background-color: #fff;
    border-radius: 4%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

// .team-member:hover {
//     transform: translateY(-10px);
// }

.team-member img {
    max-width: 100%;
    height: auto;
    width: 150px;
    height: 150px;
    border-radius: 4%;
}
body {
    margin-top: 4%;
}
@media (max-width: 650px) {
    .cover-container {
        height: 300px;
        .cover-text {
            width: 30rem;
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 500px) {
    .cover-container {
        height: 250px;
        .cover-text {
            width: 25rem;
            font-size: 1.4rem;
        }
    }
}