---
---
@import "style";

// Add a faint gray underline in anchors of main section.
.cover-container {
    height: 350px;  // calc(100vh - 300px);
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #029E73;

    .cover-text {
        color: white;
        width: 45rem;
        font-size: 2.5rem;
    }
}

.cover-subtitle-container {
    margin-top: -5rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.home-stats {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cocorem {
    color: #00CC66;
    font-weight: 700;
    font-size: 2.5rem;
}

.stat-subtext {
    font-size: 1.25rem;
}

.container.teaser{
    padding-bottom: 1%;
}
.btn{
    background-color: #029E73;
    border-color: #029E73;

}
.additional-content {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #fff;
    
}

h2 {
    color: #029E73;
    text-align: center;
}

p {
    font-size: 1.1em;
}
.team-section {
    text-align: center;
    margin-top: 50px;
}

.team-member {
    display: inline-block;
    margin: 20px;
    padding: 2px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

// .team-member:hover {
//     transform: translateY(-10px);
// }

.team-member img {
    max-width: 100%;
    height: auto;
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

@media (max-width: 650px) {
    .cover-container {
        height: 300px;
        .cover-text {
            width: 30rem;
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 500px) {
    .cover-container {
        height: 250px;
        .cover-text {
            width: 25rem;
            font-size: 1.4rem;
        }
    }
}